<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Nascent Zombie NLP Server</title>
    <!--<meta http-equiv="Content-Type" content="text/html" />-->
</head>
<body>

<form action="#" th:action="@{/victim_test}" th:object="${incident}" method="post">
    <input type="text" th:field="*{victimText}" />
    <input type="text" th:field="*{zombieText}" />
    <button type="submit" name="action" value="submit">submit</button>
</form>

<span th:if="${incident.victimText != null}">

<p th:text="'Victim text: ' + ${incident.victimText}"/>


    <p th:if="${incident.victim != null}" th:each="victim_sentence : ${incident.victim}">
        <p th:text="'Victim parse: , ' + ${victim_sentence.parseTree}"/>
    </p>

</span>



<p th:text="'Zombie text: ' + ${incident.zombieText}"/>

    <hr/>

    <p th:each="zombie_sentence : ${incident.zombie}">
        <p th:text="'Zombie parse: , ' + ${zombie_sentence.parseTree}"/>
    </p>

    <!--<p th:each="line : ${transformation.zombieTextLines}" th:text="${line}">-->

<hr/>




<!--<p th:each="tree : ${transformation.zombieMutations}" th:text="'mutations: ' + ${tree}"/>-->

<!--<p th:each="tree : ${transformation.victimParseTrees}" th:text="'Zombie parse tree: ' + ${tree}"/>-->




</body>
</html>
